<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Loop'dIn</title>
  <meta name="description" content="creative collaboration">
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
  <script type="text/javascript" src="js/loopdin.js"></script>
</head>

<body>
  
  <div id="loopdinapp">
    <div class="title">
      <h1>Welcome to Loop'dIn</h1>
    </div>

    <div class="content">
    </div>
  </div>

  <script type="text/template" id="login-template">
    <header id="header"></header>
    <div class="login">
      <form class="login-form">
        <h2>Log In</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="login-username" placeholder="name" />
        <input type="password" id="login-password" placeholder="psswrd" />
        <button>Log In</button>
      </form>
      <a href="#" class="sign-up">Sign Up</a>
    </div>
  </script>

  <script type="text/template" id="signup-template">
      <form class="signup-form">
        <h2>Sign Up</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="signup-username" placeholder="usrnme" />
        <input type="password" id="signup-password" placeholder="psswrd" />
        <button>Sign Up</button>
      </form>
      <a href="#" class="log-in">Log In</a>
    </div>
  </script>

  <script type="text/template" id="manage-projects-template">
    <h1>hey there <%= Parse.User.current().get("username") %></h1> <a href="#" class="log-out">Log out</a>
    <form class="new-project-form">
      <h2>+ Project</h2>
      <div class="error" style="display:none"></div>
      <input type="text" id="new-project-title" placeholder="title" />
      <input type="text" id="new-project-description" placeholder="description" />
      <button>Add Project</button>
    </form>

    <ul id="project-list">
    </ul>
  </script>

  <script type="text/template" id="project-template">
    <li class="<%= status %>">
      <h2><%= title %></h2>
      <p><%= description %></p>
    </li>
  </script>

</body>

</html>
